<!DOCTYPE html>

<html lang="en-us">
<head>

	<meta charset="utf-8">

	<script src="https://code.jquery.com/jquery.js"></script>

	<title>The Best Burger</title>

</head>
<body>

	{{{ body }}}

</body>
</html>