<div class="container">

  <div class="row">

    <div class="col-xs-12">

      <header>
        <h1>Eat Mor Burgers!</h1>
      </header>

    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">

      <div class="card">
        <div class="card-body">
          
          <div class="card-title">Burgers Yet to be Devoured</div>

            <div class="uneatenBurgerGoesHere">
              
              <ul>
                
                {{#each burgers}}

                  {{#unless devoured}}

                    <li>
                          
                      {{this.burger_name}}

                      <form action="/:id?_method=PUT" method="POST">
                        <input type="hidden" name="burgerId" value="{{id}}">

                        <button class="btn btn-warning" data-id="{{this.id}}">Eat This Burgaaa!</button>
                      </form>

                    </li>

                  {{/unless}}

                {{/each}}

              </ul>

            </div>

        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      
      <div class="card">
        <div class="card-body">
          
          <div class="card-title">Burgers Devoured!</div>

          <div class="eatenBurgerGoesHere">
            
            <ul>
              
              {{#each burgers}}

                {{#if devoured}}

                  <li>
                    
                    {{this.burger_name}}

                  </li>

                {{/if}}

              {{/each}}

            </ul>

          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="row">
    
    <div class="col-xs-12">
      
      <div class="card">
        <div class="card-body">
          
          <div class="card-title">Enter A Name of a Burger You Wish to Eat</div>

          <form class="addBurger" action="/:id" method="POST">
            
            <input type="text" name="typeBurgerName" placeholder="McRib">
            <button type="submit" class="btn btn-warning">Submit a Burger Name</button>

          </form>

        </div>
      </div>

    </div>

  </div>

</div>